<!doctype html>
<html>
<head>
    <title>Resistance!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { 
            padding-top:80px;
            background-color: #263238; 
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron col-md-8 col-md-offset-2 col-xs-12">
            <div class="page-header text-center">
                <h1>
                    <span class="fa fa-star"></span> 
                    Hello <%= user.username %> 
                    <span class="fa fa-star"></span>
                </h1>
            </div>

            <div class="row text-center">
                <h2> Game ID is: <strong><%= user.currentGameID %></strong></h2>
                <br/>
                <h2>Current players:</h2>
            </div>

            <div class="row text-center" id="currentPlayers">
                <% players.forEach(function(player) { %>
                    <h2 class="player"><%= player %></h2>
                <% }); %>
            </div>

            <div hidden>
                <p id="username"><%=user.username%></p>
                <p id="gameID"><%=user.currentGameID%></p>
            </div>

            <div class="row text-center">
                <button onclick="location.href = '/profile';" id="myButton" class="btn btn-error btn-lg">Back</button>
                <button style="display: none;" onclick="startGameButtonHandler();" id="startGameButton" class="btn btn-primary btn-lg" >Start game</button>
            </div>

    		
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/createGame.js"></script>
</body>
</html>